.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:not(:last-of-type) {
    margin-right: 18px;
}

.header__lang-link:first-of-type {
    border-bottom: 1px solid white;
}

@media screen and (max-width: 767px){
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}