.photo-grid {
    display: grid;
    gap: 16px 16px;
    grid-template-columns: repeat(4, 284px);
    margin-bottom: 92px;
}

@media screen and (max-width: 1250px) {
    .photo-grid {
        gap: 14px 14px;
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        gap: 16px 16px;
        grid-template-columns: repeat(2, minmax(352px, max-content));
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid  {
        row-gap: 12px;
        grid-template-columns: repeat(1, minmax(288px, max-content));
        margin-bottom: 64px;
    }
}