.intro__conteiner {
    max-width: 690px;
}

@media screen and (max-width: 1023px) {
    .intro__conteiner {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__conteiner {
        max-width: 288px;
    }
}