.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 92px;
    width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1250px) {
    .lead{
        width: calc(100% - 2 * 48px);
    }
  }

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px){
    .lead {
        max-width: 320px;
        margin-bottom: 64px;
    }
}