.cover__subtitle {
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 440px) {
    .cover__subtitle  {
        width: calc(320px - 2 * 16px);
        font-size: 14px;
        line-height: 16px;
    }
}