.header {
    width: calc(100% - 2 * 48px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}

@media screen and (max-width: 1180px) {
    .header {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 762px)  {
    .header {
        width: calc(100% - 2 * 16px);
    }
}