.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 0 32px 0;
}

@media screen and (max-width: 440px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}