.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    order: 3;
    margin: 0;
    margin-bottom: 26px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 1180px) {
    .place__paragraph {
        margin-bottom: 27px;
    }
}

@media screen and (max-width: 824px) {
    .place__paragraph {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 767px){
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}