.intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 762px)  {
    .intro__text  {
        font-size: 16px;
        line-height: 163%;
        width: 100%;
        margin-bottom: 34px;
    }
}