.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 2 * 148px);
    margin-bottom: 92px;
}

@media screen and (max-width: 1180px) {
    .intro {
        width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 2 * 24px);
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 762px)  {
    .intro {
        width: calc(100% - 2 * 16px);
        margin-bottom: 64px;
    }
}