.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 64px 0;
    width: 640px;
}

@media screen and (max-width: 1180px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 762px)  {
    .lead__subtitle {
        width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}