.footer__nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 440px) {
    .footer__nav  {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 48px;
    }
    
}