.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px; 
    text-align: center; 
    margin: 0 0 32px 0;
    padding: 0;
    width: 560px;
}

@media screen and (max-width: 440px) {
    .cover__title {
        width: calc(320px - 2 * 16px);
        font-size: 32px;
        line-height: 35px; 
        margin-bottom: 16px;
    }
}