.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2 * 48px);
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 767px){
    .footer {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2 * 16px);
    }
}